<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adaugă un nou tip de activ</title>
</head>
<body>
    <h1>Adaugă un nou tip de activ</h1>

    <form action="/add_instrument" method="post">
        Nume: <input type="text" name="name"><br>
        Descriere: <input type="text" name="description"><br>
        <input type="submit" value="Adaugă">
    </form>
    
    <br>
    <a href="/">Înapoi la pagina principală</a>
</body>
</html>
